/* body{
  /* color: white; */
  /* color: #c4e2d9; */
  /* background-color: #010017; 
} */

.box{
  margin: 30px 0px;
}
.margin-div{
 margin: 2px 0px;
  display: flex;
  flex-wrap: wrap;
  /* height: 100vh; */
  width: 100vw;
  justify-content: center;
  align-items: center;
}
.textcenter{
  text-align: center;
}

.navancor-dark:hover{
  
  text-decoration: underline;

}

.navancor-light:hover{

  text-decoration: underline;

}


.ancor-dark{
margin: auto;
padding: 3px;
  text-decoration: none;
  color: white;
  border: 2px solid white;
  border-radius: 3px;

}
.ancor-light{
margin: auto;
padding: 3px;
  text-decoration: none;
  color: black;
  border: 2px solid black;
  border-radius: 3px;

}
.ancor-dark:hover{
  background-color: black;
  color: white;
  border: 3px solid white;
  font-weight: bold;
}
.ancor-light:hover{
  background-color: white;
  color: black;
  border: 3px solid black;
  font-weight: bold;
}